.section-banner {
    // margin-top: 52px;

    width: 100%;
    // min-height: 400px;
    // background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 32px;
    padding-right: 32px;

    &__info {
        width: 100%;
        max-width: 960px;
        // padding: 0 32px;

        @media screen and (min-width: 1024px) {
            margin-left: 101px;
        }

        &__h1 {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            font-family: "Nunito", sans-serif;
            line-height: 43px;
        }

        &__p {
            margin-top: 19px;
            max-width: 600px;

            color: #fff;
            font-weight: 100;
            line-height: 20px;
            font-size: 18px;
            font-family: "Nunito", sans-serif;
        }

        &__btn {
            max-width: 296px;
            width: 100%;
            display: inline-block;
            font-family: "Nunito", sans-serif;
            text-decoration: none;
            margin-top: 36px;
            border: 2px solid #ffffff;
            border-radius: 24px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            padding: 13px 0px;
            text-align: center;
            background-color: transparent;
            cursor: pointer;
            text-transform: uppercase;
            outline: none;
            -webkit-transition: 0.2s ease-in-out all;
            transition: 0.2s ease-in-out all;

            &:hover {
                color: #F25C05;
                background-color: #fff;
            }
        }
    }
}