*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    position: relative;
    z-index: 1;

    &--index {
        @include backgroundImage("../../assets/img/JPG/autostraliancasino.jpg");
    }

    &--crwn-casino {
        @include backgroundImage("../../assets/img/JPG/wynn.jpg");
    }

    &--crwn-casino-s {
        @include backgroundImage("../../assets/img/JPG/aria.jpg");
    }

    &--jupiter-casino {
        @include backgroundImage("../../assets/img/JPG/mgmgrand.jpg");
    }

    &--bellagio {
        @include backgroundImage("../../assets/img/JPG/bellagio.jpg");
    }
}